In [1]:
#https://github.com/djw-easy/GeoDetector/blob/main/example.ipynb
#https://pypi.org/project/geodetector/
#GUNAKAN RSEI DATA Y DAN X YANG DIINTERSECT DALAM FORMAT PIKSEL KE POINT
#INPUT DATA MASUKKAN DATA FORMAT .XLS SHEET NAME BERUPA NAMA SHEET NAME NYA
#Data
#Y = RSEI Trend 2023 (piksel)
#X1 = Kemiringan Lereng (piksel)
#X2 = Ketinggian    (piksel)
#X3 = Jarak Dari Jalan (piksel)
#X4 = Jarak Dari Sungai (piksel)
#X5 = Jarak Dari Pemerintahan  (piksel) 
#X6 = Jarak Dari Pendidikan (piksel)
#X7 = Jarak Dari Kesehatan  (piksel)
#X8 = Curah Hujan   (piksel)
#X9 = Kepadatan Penduduk    (piksel)
#x10 = Pendapatan Perkapita (piksel)

import pandas as pd
from geodetector import (
    factor_dector, 
    interaction_detector, 
    ecological_detector
)

In [22]:
df = pd.read_excel('trial.xlsx',
                   sheet_name='trial')
df.head()

,OBJECTID,FID_Raster,pointid,grid_code,Y,FID_Rast_1,pointid_1,X1,FID_Rast_2,pointid_12,X2,FID_Rast_3,pointid_13,X3
0,1,416801,416801,0.876227,0.876227,1055602,1055602,127.399,724321,724321,1130.13,724321,724321,2188.72
1,2,416802,416802,0.832012,0.832012,1055603,1055603,127.263,724322,724322,1158.02,724322,724322,2164.56
2,3,416803,416803,0.861006,0.861006,1055604,1055604,127.130,724323,724323,1186.01,724323,724323,2140.55
3,4,416804,416804,0.897812,0.897812,1055605,1055605,127.000,724324,724324,1214.10,724324,724324,2116.70
4,5,416805,416805,0.929633,0.929633,1055606,1055606,126.872,724325,724325,1242.28,724325,724325,2093.00

In [23]:
factor_dector(df, 'Y', [ 'X1','X2','X3', 'X4','X5', 'X6', 'X7', 'X8', 'X9', 'X10'])

                   X1        X2        X3
q statistic  0.606388  0.230259  0.303649
p value      1.000000  1.000000  1.000000

In [24]:
interaction_detector(df, 'Y', ['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10'])

          X1        X2        X3
X1  0.606388       NaN       NaN
X2  0.999709  0.230259       NaN
X3  0.999896  0.983086  0.303649

In [19]:
df1, df2 = interaction_detector(df, 'Y', ['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10'], relationship=True)
df1

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10
X1,0.079843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X2,0.115698,0.089402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X3,0.119019,0.140652,0.058050,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X4,0.082753,0.091236,0.068706,0.008975,NaN,NaN,NaN,NaN,NaN,NaN
X5,0.128333,0.139531,0.099903,0.081067,0.069056,NaN,NaN,NaN,NaN,NaN
X6,0.113539,0.125507,0.082047,0.058583,0.087896,0.046607,NaN,NaN,NaN,NaN
X7,0.118678,0.134033,0.086671,0.065093,0.088894,0.076130,0.049827,NaN,NaN,NaN
X8,0.082489,0.093536,0.060853,0.014138,0.075795,0.053084,0.052483,0.004465,NaN,NaN
X9,0.213562,0.243314,0.184285,0.177063,0.192937,0.189691,0.189527,0.177040,0.167898,NaN
X10,0.208074,0.236534,0.175946,0.168634,0.186083,0.179856,0.182267,0.163503,0.176816,0.158755

In [8]:
df2

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10
X1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X2,"Enhance, bi-",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X3,"Enhance, nonlinear","Enhance, nonlinear",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X4,"Enhance, bi-","Enhance, bi-","Enhance, nonlinear",NaN,NaN,NaN,NaN,NaN,NaN,NaN
X5,"Enhance, bi-","Enhance, bi-","Enhance, bi-","Enhance, nonlinear",NaN,NaN,NaN,NaN,NaN,NaN
X6,"Enhance, nonlinear","Enhance, nonlinear","Enhance, bi-","Enhance, nonlinear","Enhance, bi-",NaN,NaN,NaN,NaN,NaN
X7,"Enhance, nonlinear","Enhance, nonlinear","Enhance, bi-","Enhance, nonlinear","Enhance, bi-","Enhance, bi-",NaN,NaN,NaN,NaN
X8,"Enhance, nonlinear","Enhance, nonlinear","Enhance, bi-","Enhance, nonlinear","Enhance, nonlinear","Enhance, nonlinear","Enhance, bi-",NaN,NaN,NaN
X9,"Enhance, bi-","Enhance, nonlinear","Enhance, bi-","Enhance, nonlinear","Enhance, bi-","Enhance, bi-","Enhance, bi-","Enhance, nonlinear",NaN,NaN
X10,"Enhance, bi-","Enhance, nonlinear","Enhance, bi-","Enhance, nonlinear","Enhance, bi-","Enhance, bi-","Enhance, bi-","Enhance, bi-","Enhance, bi-",NaN

In [9]:
ecological_detector(df, 'Y', ['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10'])

      X1   X2   X3   X4   X5   X6   X7   X8   X9  X10
X1   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
X2     Y  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
X3     N    N  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
X4     N    N    N  NaN  NaN  NaN  NaN  NaN  NaN  NaN
X5     N    N    N    Y  NaN  NaN  NaN  NaN  NaN  NaN
X6     N    N    N    N    N  NaN  NaN  NaN  NaN  NaN
X7     N    N    N    Y    N    N  NaN  NaN  NaN  NaN
X8     N    N    N    N    N    N    N  NaN  NaN  NaN
X9     Y    Y    Y    Y    Y    Y    Y    Y  NaN  NaN
X10    Y    Y    Y    Y    Y    Y    Y    Y    N  NaN